/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

/*body*/
/*{*/
/*    margin: 0;*/
/*    padding: 0;*/

/*    !* make it look decent enough *!*/
/*    background: #232323;*/
/*    color: #cdcdcd;*/
/*    font-family: "Avenir Next", "Avenir", sans-serif;*/
/*}*/

.headerStyles {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menuToggle {
    display: block;
    /*position: relative;*/
    /*top: 50px;*/
    /*left: 50px;*/

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

@media (min-width: 1200px) {
    .menuToggle {
        display: none;
    }
}

.menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

.menuToggle a:hover {
    color: tomato;
}

.michael {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.mainMenu {
    display: flex;
    width: 100%;
    /*margin: -100px 0 0 -50px;*/
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    right: -100%;
    transition: right 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    position: fixed;
}

@media (min-width: 1200px) {
    .mainMenu {
        position: static;
        padding: 0;
        right: unset;
        display: flex;
        background-color: transparent;
    }

    .mainMenu ul {
        display: flex;
        flex-direction: row;
    }

    .mainMenu li {
        list-style: none;
    }
}

.mainMenu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
.navIsOpen {
    right: 0;

}
